.sidebar {
    min-width: 280px;
    display: flex;
    flex-direction: column;
    // background-color: #947b9a;
    background: rgba(0,0,0,0.1);
    background-blend-mode: overlay;
    z-index: 20;
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
    transition: left 0.3s ease;
    position: fixed;
    left: 0px;
    height: 100vh;
 

    @media (max-width: 800px) {
        // position: fixed;
        &.closed {
            left: -280px;
        }
        &.hidden {
            left: -280px;
        }
    }

    .toggle {
        right: -54px;
        position: absolute;
        width: 54px;
        height: 54px;
        background-color: #947b9a;
        cursor: pointer;

        @media (min-width: 801px) {
            display: none;
        }

        .iconWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }

    .sidebar-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #fff;
        text-transform: uppercase;
        padding: 16px 20px;
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;


        &:hover {
            font-weight: 700;
        }

        &.active {
            // background-color: #bea7c4;
            background: rgba(0,0,0,0.1);
            font-weight: 700;
        }
    }
}