.toolbar {
    background-color: #464d60;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 10;

    @media (max-width: 460px) {
        justify-content: center;

    }

}

.toolbar .logopic {
    width: 40px;
    height: 40px;
    padding: 20px;
    display: flex;
    align-items: center;

    @media (max-width: 760px) {
        a span {
            display: none;
        }
    }

    @media (max-width: 460px) {
        display: none;
    }
}

.toolbar .logopic a {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
}

.toolbar .logopic img {
    width: 40px;
    height: 40px;
    max-width: unset;
}

.toolbar .links {
    margin: 0 40px;
}

.toolbar .toolbarlink {
    color: rgba(#fff, 0.7);
    text-transform: uppercase;
    font-weight: 800;

    &.active {
        color: rgba(#fff, 1);
    }

    &:hover {
        color: rgba(#fff, 1);
    }

    @media (max-width: 600px) {}
}

.toolbar span {
    padding: 4px 20px;
}

.toolbar a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 4px;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(#fff, 0.7);

    @media (max-width: 600px) {
        padding: 10px;
        font-size: 12px;

    }
}

.toolbar .eraslink {
    position: relative;
    padding: 0px 0;
    font-weight: 500;
}

.toolbar .eraslist {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    text-align: center;
    left: 50%;
    top: 30px;
    transform: translate(-50%, 0);
    width: 140px;
    padding: 20px 0;
    border-radius: 6px;
    z-index: 100;
    background-color: rgba($color: #947b9a, $alpha: 0.7)
}

.toolbar .eraslist>span {
    padding: 4px 0;
    width: 100%;
    border-radius: 6px;
}

.toolbar .eraslist>span>a {
    padding: 0;
    text-align: center;

}

.toolbar .eraslink:hover>.eraslist {
    display: flex;
}

.toolbar .eraslink:hover>.eraslistwrapper {
    // padding-top: 50px;
}

.toolbar .midnights a,
.toolbar .evermore a,
.toolbar .folklore a,
.toolbar .lover a,
.toolbar .rep a,
.toolbar .nen a,
.toolbar .red a,
.toolbar .sn a,
.toolbar .fearless a,
.toolbar .ts a {
    color: #EEF5FF;
}

.toolbar .midnights:hover a,
.toolbar .evermore:hover a,
.toolbar .folklore:hover a,
.toolbar .lover:hover a,
.toolbar .rep:hover a,
.toolbar .nen:hover a,
.toolbar .red:hover a,
.toolbar .sn:hover a,
.toolbar .fearless:hover a,
.toolbar .ts:hover a {
    color: #464d60;
}