@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
.App {
  text-align: center;
  background-color: #4B527E;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Mukta', sans-serif;
}

.items {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
}