.footer {
    width: calc(100% - 280px);
    min-height: 100px;
    // background-color: #333; /* Adjust the background color as needed */
    background: rgba(0,0,0,0.1);
    color: #fff; /* Adjust the text color as needed */
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;

    @media (max-width: 800px) {
        width: 100%;
    }

    
    .wrapper {
        padding: 20px;
    }
    .text {
        text-align: center;
        font-size: 12px;

        a {
            font-weight: 600;
            color: #fff;
        }
    }

}
